.div.main-wrapper
  - @categories.each_slice(4) do |row|
    .row
      - row.each do |category|
        .col-md-3
          .category_container
            .name
              = link_to category.name, category
            - if category.avatar.present?
              =image_tag category.avatar.url(:thumb)
            - else
              .placeholder
  
