.body
  %h1 Our Pinterest!
  .container
    - if current_user && user_signed_in?
      %p My Categories
      - my_categories.each do |cat|
        =link_to cat.name
      %br
      %p Other categories
      - other_categories.each do |cat|
        =link_to cat.name
    - else
      =render 'all_categories'
