%h1 Dashboard
%p It will be our dashboard page

- if current_user && user_signed_in?
  %p My Categories
  - my_categories.each do |cat|
    =cat.name
  %br
  %p Other categories
  - other_categories.each do |cat|
    =cat.name
- else
  =render 'all_categories'
