@import "bootstrap-sprockets";
@import "bootstrap";

.body {
  font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
  margin-left: center;
  margin-right: center;
  h1 {
    font-weight: bold;
    font-size: 50px;
    text-align: center;
  }
}
