.container
  .row
    - notes.each_slice(4) do |row|
      .row
        - row.each do |note|
          .col-md-3
            .category_container
              .name
                %h2= link_to note.title, note
                %h3= note.description
                %h4 Utworzono dnia:
                %h4= note.created_at.strftime("%d-%m-%Y")
