.container
  .row
    - notes.each_slice(4) do |row|
      .row
        - row.each do |note|
          .col-md-3
            .category_container
              .name
                = link_to note.title, note
                %br
                = note.description
